.settings__setting{
    padding: 20px 0;
    border-bottom: 1px solid var(--grey1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting i{
    margin-right: 15px;
    font-size: 22px;
    color: var(--grey8);
}
.settings__setting:nth-child(4) i{
    margin-right: 8px;
}
.settings__setting-column:last-child{
    color: var(--grey5);
}