:root{
    --yellow: #dbb26a;
    --backcolor: #fab94f;
    --backcolor2: #FFCC79;
    --horizontal-space: 25px;
    --main-border: 1px solid rgba(0, 0, 0, 0.1);
    --grey1: rgba(0, 0, 0, 0.1);
    --grey2: rgba(0, 0, 0, 0.2);
    --grey3: rgba(0, 0, 0, 0.3);
    --grey4: rgba(0, 0, 0, 0.4);
    --grey5: rgba(0, 0, 0, 0.5);
    --grey6: rgba(0, 0, 0, 0.6);
    --grey7: rgba(0, 0, 0, 0.7);
    --grey8: rgba(0, 0, 0, 0.8);
    --grey9: rgba(0, 0, 0, 0.9);
}